.dashboard-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 16px;
}

.hero-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
}

.card-hero {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #723600;
  width: 200px;
  height: 200px;
}
