<div class="header-wrapper">
  <h3>Tour of Heroes</h3>
  <button *ngIf="activeHero()" (click)="viewDetail()" mat-fab extended>
    <mat-icon>add</mat-icon>
    View detail
  </button>
  <button [routerLink]="['/new-hero']" mat-fab extended>
    <mat-icon>add</mat-icon>
    Add
  </button>
</div>
<nav mat-tab-nav-bar [tabPanel]="tabPanel">
  <a
    [routerLink]="'list'"
    mat-tab-link
    (click)="activeLink = 'list'"
    [active]="activeLink == 'list'"
  >
    {{ "list" }}
  </a>
  <a
    [routerLink]="'dashboard'"
    mat-tab-link
    (click)="activeLink = 'dashboard'"
    [active]="activeLink == 'dashboard'"
  >
    {{ "dashboard" }}
  </a>
</nav>
<mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
